.main {
  .container {
    max-width: 1210px;
  }

  &__block {
    display: flex;
  }

  &__nav {
    width: 280px;
    height: 1024px;
    position: relative;
    background: linear-gradient(180deg, #0F0F10 0%, #0f0f10 100%);

    &-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 115px;
      margin-left: 63px;

      a {
        z-index: 1;
        margin-bottom: 45px;

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #FFFFFF;
          margin-bottom: 45px;
          opacity: 0.5;
        }

        .active {
          color: #56CCF2;
          opacity: 1;
        }

        img {
          margin-right: 13px;
        }
      }
    }


    &-logo {

      .navlogo {
        padding: 31px 70px 0 75px;
      }

      .navbg {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        width: 100%;
      }

      .navbg2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  .mainscreen {
    margin-left: 20px;
    width: 880px;

    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 0;

      input {
        background: #343539;
        border-radius: 4px;
        border: none;
        outline: none;
      }
    }

    .registration {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      text-align: right;
      color: #FFFFFF;
      opacity: 0.5;
      margin-right: 20px;
    }

    .log {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      text-align: right;
      color: #56CCF2;
    }

    &__title {
      margin-top: 50px;

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        opacity: 0.5;
      }

      h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        display: flex;
        align-items: center;
        color: #56CCF2;
      }

      a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        opacity: 0.5;
        margin-top: 14px;

        .fa-arrow-right {
          margin-left: 13px;
        }
      }
    }

    &__infoblock {
      background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 1) 100%), url("../img/mainscreen/mainbg2.png");
      padding: 20px 20px;
    }
  }

  &__events {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__events2 {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;

    .main__event {
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #E6750C 0%, #EE4700 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #E6750C;
      }

      span {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        display: flex;
        align-items: center;
        color: #56CCF2;
        -webkit-text-fill-color: #56CCF2;
      }
    }
  }

  &__event1 {
    width: 430px;
    height: 242px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 100%), url("../img/mainscreen/events/eventbg1.png");
    padding-top: 20px;
    padding-left: 20px;
    position: relative;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #2D9CDB;
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      opacity: 0.5;
      margin-top: 10px;
    }

    span {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      display: flex;
      align-items: center;
      background: linear-gradient(90deg, #E6750C 0%, #EE4700 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #E6750C;
    }

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      opacity: 0.8;
      margin-top: 10px;
    }

    a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      opacity: 0.5;
      margin-top: 15px;

      .fa-arrow-right {
        margin-left: 13px;
        color: white;
      }
    }

    img {
      position: absolute;
      right: -50px;
      top: -20px;
    }
  }

  &__event2 {
    width: 430px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 100%), url("../img/mainscreen/events/eventbg2.png");
    padding-top: 20px;
    padding-left: 20px;
    position: relative;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #2D9CDB;
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      opacity: 0.5;
    }

    span {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      display: flex;
      align-items: center;
      background: linear-gradient(90deg, #E6750C 0%, #EE4700 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #E6750C;
    }

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      opacity: 0.8;
      margin-top: 10px;
    }

    a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      opacity: 0.5;
      margin-top: 15px;

      .fa-arrow-right {
        margin-left: 13px;
        color: white;
      }
    }

    img {
      position: absolute;
      right: -23px;
      top: -17px;
    }
  }

  &__infotable {
    margin-top: 50px;

    .main__table {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 100%), url("../img/mainscreen/table/bg.png") center/cover no-repeat;
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 18px 140px 15px 140px;
      margin-top: 44px;

      img {
        position: absolute;
        top: -59px;
        left: -8px;
      }

      &-text {
        width: 65px;
        height: 94px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        span {
          font-size: 14px;
        }
      }

    }
  }

  &__analitic {
    margin-top: 50px;

  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  .card {
    position: relative;
    max-width: 205px;
    border: none;
    margin-top: 20px;
    margin-bottom: 50px;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #BDBDBD;
      margin-top: -20px;
      margin-left: 10px;
      z-index: 1;
    }

    img:nth-child(1) {
      width: 205px;
    }

    .kriv {
      margin-top: 21px;
    }

    .zatem {
      position: absolute;
      top: 0;
      left: 0;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #BDBDBD;
      padding: 0 10px;
      margin-top: 20px;
      margin-bottom: 0;
    }

    h5 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      color: #F2C94C;
      text-align: center;
      margin-top: 10px;
    }
  }

  &__card1 {
    background: #060606;
  }

  &__users {
    display: flex;
    justify-content: space-around;
    padding: 27px;
    margin-top: 20px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 100%), url("../img/mainscreen/subscribe/bg.png") center/cover no-repeat;

    .mainuser {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #828282;
        margin-top: 10px;
      }
    }

  }

  &__links {
    margin-top: 40px;
    background: #000000;
    opacity: 0.8;

    .d-flex {
      img {
        width: 130px;
        height: 18px;
        margin: 88px 0 87px 76px;
      }
    }

    &-title {
      padding: 40px 86px 40px 95px;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
    }
  }

  &__news {
    width: 100%;
    margin-top: 20px;
  }

  &__newsblock {
    width: 580px;

    .news {
      margin-bottom: 54px;

      .textlink {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        opacity: 0.5;
        margin-top: 24px;

        .fa-arrow-right {
          margin-left: 13px;
          color: white;
        }
      }

      &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-top: 10px;
      }

      &__userinfo {
        margin-top: 23px;

        a {
          display: inline-block;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #F2F2F2;

          img {
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          text-align: right;
          color: #828282;
        }

        .news__download {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          text-align: right;
          color: #EE4700;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #BDBDBD;
        margin-top: 10px;
      }
    }
  }

  &__newstable {
    width: 280px;
    height: 694px;
    margin-left: 20px;
    position: relative;

    &-bg {
      z-index: -1;
    }

    img {
      position: absolute;
      bottom: 0;
      display: block;
      z-index: -1;
    }

    &-title {
      width: 100%;
      padding-top: 23px;
      padding-left: 22px;

      a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        align-items: center;
        color: #56CCF2;
        z-index: 1;

        &:nth-child(2) {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          text-align: right;
          color: #FFFFFF;
          opacity: 0.5;

          i {
            margin-left: 13px;
          }
        }

        i {
          color: white;
          font-size: 20px;
          margin-right: 12px;
        }
      }
    }

  }

  &__newslink {
    border-bottom: 1px solid #59595a;

    a {
      font-style: normal;
      display: inline-block;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      color: #F2F2F2;
      margin: 10px 20px 10px 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .shop {
    margin-top: 30px;

    &__cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

    }

    &__card {
      display: inline-block;
      width: 280px;

      .card1 {
        padding: 11px 72px 12px 34px;
        background: #9B51E0;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-bottom: 0;
      }

      .card2 {
        background: #56CCF2;
        padding: 11px 76px 4px 73px;

        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 42px;
          display: flex;
          align-items: center;
          text-align: right;
          color: #FFFFFF;
        }

        h4 {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          margin-left: 5px;
        }

      }

      .card3 {
        background: linear-gradient(90deg, #E6750C 0%, #EE4700 100%);
        padding: 11px 81px 4px 73px;
      }

      #imgcard1 {
        position: absolute;
        top: -20px;
        right: 10px;
      }

      &-title {
        width: 100%;
        position: relative;
      }

      &-subtitle {
        background: black;
        padding: 20px 10px 10px 10px;

        .infocard {
          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
          }

          h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #F2C94C;
          }
        }

        p {
          margin-top: 10px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #BDBDBD;
        }
      }
    }

    &__bigcards {
      margin-top: 20px;
    }

    &__bigcard {
      display: inline-block;

      &-title {
        background: #56CCF2;

        .card4 {
          padding: 10px 92px;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          margin-bottom: 0;
        }
      }

      .card5 {
        background: linear-gradient(90deg, #E6750C 0%, #EE4700 100%);

      }

      .card6 {
        background: #9B51E0;
      }

      &-subtitle {
        background: black;

        img {
          margin-top: 30px;
          margin-left: 65px;
          margin-bottom: 16px;
        }

        .card5img {
          height: 106px;
        }

        .bigcardinfo {
          padding: 0 30px;

          .infoblock {
            p {
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 21px;
              display: flex;
              align-items: center;
              color: #FFFFFF;
            }
          }

          p {
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #F2C94C;
          }
        }
      }
    }
  }

  .newslink1 {
    margin-top: 13px;
  }

  &__lidertable {
    margin-top: 20px;

    &-links {
      width: 100%;
      display: flex;
    }

    &-games {
      margin-top: 30px;
      position: relative;

      .tabs {
        margin-bottom: 50px;
        display: block;

        &__items {
          width: 100%;
          display: flex;
          justify-content: space-around;
          background: black;
        }

        &__item {
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            z-index: 2;
          }
        }

        &__block {
          display: none;
          position: relative;

          &:before {
            content: "";
            height: 90px;
            width: 88px;
            position: absolute;
            top: -135px;
          }

          &:target {
            display: block;
          }

          &:nth-child(1) {
            &:before {
              background: #1E1E20;
              left: 0;
            }
          }

          &:nth-child(2) {
            &:before {
              background: #1E1E20;
              left: 10%;
            }
          }

          &:nth-child(3) {
            &:before {
              background: #1E1E20;
              left: 20%;
            }
          }

          &:nth-child(4) {
            &:before {
              background: #1E1E20;
              left: 30%;
            }
          }

          &:nth-child(5) {
            &:before {
              background: #1E1E20;
              left: 40%;
            }
          }

          &:nth-child(6) {
            &:before {
              background: #1E1E20;
              left: 50%;
            }
          }

          &:nth-child(7) {
            &:before {
              background: #1E1E20;
              left: 60%;
            }
          }

          &:nth-child(8) {
            &:before {
              background: #1E1E20;
              left: 70%;
            }
          }

          &:nth-child(9) {
            &:before {
              background: #1E1E20;
              left: 80%;
            }
          }

          &:nth-child(10) {
            &:before {
              background: #1E1E20;
              right: 0;
            }
          }

          .tabletr {
            width: 100%;
            height: 36px;
            background: black;
            border-bottom: 1px solid grey;

            &:nth-child(1) {
              margin-top: 45px;
            }

            .number {
              margin-left: 10px;
            }

            .off {
              margin-left: 30px;
            }

            .col {
              max-width: 60px;
              height: 20px;
              padding: 0 10px;
            }

            .falgkg {
              margin-left: 20px;
            }

            .username {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              display: flex;
              align-items: center;
              color: #FFFFFF;
              margin-left: 10px;
            }

            .score {
              margin-left: 236px;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              display: flex;
              align-items: center;
              color: #FFFFFF;
            }

            .static {
              margin-left: 147px;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              display: flex;
              align-items: center;
              color: #FFFFFF;
            }

            .wins {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              display: flex;
              align-items: center;
              color: #FFFFFF;
              margin-left: 118px;
            }
          }

        }

        &__info {
          position: absolute;
          right: 0;
          top: 115px;

          span {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #828282;

            &:nth-child(1) {
              margin-right: 100px;
            }

            &:nth-child(2) {
              margin-right: 75px;
            }

            &:nth-child(3) {
              margin-right: 30px;
            }
          }
        }
      }
    }
  }


}


.tabs {
  display: flex;

  .tab-1 {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }

  .tab-2 {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
    margin-left: 20px;
  }
}

@media screen and (max-width: 1185px) {
  .container {
    max-width: 1100px;
  }
  .main__events {
    max-width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  .main__event1 {
    width: 360px;
    height: 242px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, black 100%), url(../img/mainscreen/events/eventbg1.png);
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
  }
  .main__event2 {
    width: 393px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, black 100%), url(../img/mainscreen/events/eventbg2.png);
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    margin-left: 20px;
  }
  .main__infotable .main__table {
    width: 775px;
  }
  .main .mainscreen__infoblock {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 20%, black 100%), url(../img/mainscreen/mainbg2.png);
    padding: 20px 20px;
    max-width: 857px;
  }
  .main__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1110px) {
  .main__events {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .main__event1 {
    width: 100%;
    height: 242px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, black 100%), url(../img/mainscreen/events/eventbg1.png) center/cover;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
  }
  .main__event2 {
    width: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, black 100%), url(../img/mainscreen/events/eventbg2.png) center/cover;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    height: 242px;
    margin-top: 20px;
    margin-left: 0;
  }

  .main__infotable {
    margin-top: 50px;
    min-width: 100%;
  }

}

@media screen and (min-width: 1050px){

}


